
<% layout("/layouts/boilerplate") %>



<body>
    
    <br><br><br><br>    

    <h1 class="col-5 offset-3 mb-5">LogIn on Wonderlust</h1>
    
    <div class="row">   <!-- to make the space small that the form have occupied-->
      <div class="col-5 offset-3" >

        <form action="/login" method="POST" novalidate class="needs-validation">

           
           
            <div class="form-floating mb-3">  <!-- mb-3 is for marzin buttom 3 & no need to <br>  -->    <!--USERNAME-->
                <input type="text"  class="form-control" id="floatingUsername" placeholder="Username" name="username" required >          
                <label  for="floatingUsername">Username</label>    

                <div class="invalid-feedback"> Please enter the username</div>
            </div>

            
            <div class="form-floating mb-3">  <!--PASSWORD-->
                <input type="password"  class="form-control" id="floatingPassword" placeholder="Password" name="password" required >          
                <label for="floatingPassword">Password</label>

                <div class="invalid-feedback"> Please enter the password </div>
            </div>

            <br>
            <button class="btn addbtn">Login</button>
            <br><br>
 
 
        </form>

       </div>
    </div>

</body>